.metrics {
    padding: 25px 0;

    .bootstrap-table .fixed-table-toolbar .search{
        float: right !important;
        width: 193px;

        input{
            font-size: 1rem;
            height: calc(1.5em + .75rem + 2px);
            margin-top: 0;
            padding-left: 10px;
        }
    } 
    .table_container tr {
        i {display: none;}
        .max-height{height:auto}
    }
    
    .bootstrap-table .fixed-table-pagination > .pagination-detail{
        margin-bottom: 10px;
    }
    .clearSearch{
        display:none;
    }
    .click_filter span{
        text-decoration: none;
        cursor: initial;
    }
}
.metrics > h1 {
    font-size: 2.625rem;
    letter-spacing: -1px;
    line-height: 1.15;
    padding-bottom: 25px;
}
.metrics h3 {
    font-size: 1.625rem;
}
.metrics h6 {
    font-size: 1.0625rem;
}
.metrics #metrics_bar {
    width: 100% !important;
}