.my-dropbtn {
    background-color: #6c757d;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
.my-dropdown {
    position: relative;
    margin: 4px;
    min-width: min-content;
    float: right;
    margin-bottom: -52px;
}
  
.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    max-height: 300px;
    overflow-y: scroll;
}
  
.my-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.my-dropdown-content a:hover {background-color: #ddd;}

.my-dropdown:hover .my-dropdown-content {display: block;}

.my-dropdown:hover .dropbtn {background-color: #5a6268;}
