.headerBar {
  display: block;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  line-height: 54px;

  padding-left: 0;
  padding-right: 1%;

  border-bottom: 1px solid #e8e8e8;
  background: white;
  z-index: 5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.headerBar.active {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.site-title {
  float: left;
  
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin-left: 15px;
}

.headerBar > div:nth-child(2) {
  display: block;
  float: right;
  text-align: right;

  margin-right: 25px;
}
  
.headerBar a {
  color: #000;
  text-decoration: none;

  border: none;
  outline-style: none;
  -moz-outline-style: none;
  transition: ease-in-out 0.15s;
}
.headerBar a:hover, .headerBar .is-active {
  opacity: 0.35;
}

ul.header li {
  display: inline;
  list-style-type: none;
  position: relative;
}
ul.header {
  padding: 0;
  margin: 0;
  float: right;

}
ul.header li a {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
}

.content {
  background-color: #FFF;
  padding: 20px;


  margin: 5%;
  margin-top: 25px;
  margin-bottom: 10px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.App-logo {
  height: 100%;
  display: block;
  float: left;
  margin-left: 25px;
  padding: 5px 0;
}

.navbar-brand{
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: -1px;
  img{
    margin: 0 15px 0 10px;
  }
}
.bg-light{background-color: #fff !important;}

.navbar{
  border-bottom: 1px solid #e8e8e8;
  padding-top:0;
  padding-bottom: 0;
  z-index:10;

  .nav-link {
      font-size: 18px;
      color:#000 !important;
      background:none;
      border:none;
      &:focus{outline:none;}
      &.is-active{
        opacity: .3;
      }

  }
  

}