$theme-colors: (
  "training": #4FC3F7,
  "eval": #FFD54F,
  "training-eval": #A5D6A7,
  "not_cov": #e3e3e3
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: #111;
  -webkit-text-size-adjust: 100%;
  -moz-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow-wrap: break-word;
}

h1, h2 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  text-shadow: 3px 3px 5px #cacaca;
}

* {
  -webkit-font-smoothing: antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #656565;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #656565;
  border-radius: 20px;
  border: 3px solid transparent;
}